{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Create Team
{% endblock title %}

{% block content %}
    <div class="contatiner mt-4">
        <h2><i class="fa fa-plus"></i> Create Team</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check"></i> Create
            </button>
        </form>
    </div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/team-form.js' %}"></script>
{% endblock %}