{% extends "base.html" %}

{% block title %}
    Delete Project
{% endblock title %}

{% block content %}
<div class="container mt-4">
    <h2>Are you sure you want to delete {{ project.title }}?</h2>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Delete
        </button>
        <a href="{% url 'project_detail' project.pk %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock content %}