{% extends "base.html" %}

{% block title %}
    {{ project.title }}
{% endblock title %}

{% block content %}
    <div class="container mt-4">
        <h2><i class="fa fa-folder-open"></i> {{ project.title }}</h2>
        <p><strong>Status:</strong> {{ project.get_status_display }}</p>
        <p><strong>Description:</strong> {{ project.description }}</p>
        <p><strong>Start Date:</strong> {{ project.start_date }}</p>
        <p><strong>End Date:</strong> {{ project.end_date }}</p>
        <p><strong>Team:</strong> {{ project.team }}</p>
    </div>
{% endblock content %}