{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Create Task
{% endblock title %}

{% block content %}
    <div class="contatiner mt-4">
        <h2><i class="fa fa-plus"></i> Create Task for {{ view.project.title }}</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check"></i> Create Task
            </button>
        </form>
    </div>
{% endblock content %}